Better specification of Frame fields

The textual description of HTTP/2 and HTTP/3 frame fields in not comprehensive, so we should fix this. For example, as @ianswett highlighted, the HTTP/2 PRIORITY_UPDATE frame diagram declares the `R` bit but doesn't specifiy what that means, the answer is a direct copy of RFC 7540 section 4.1

```
    R: A reserved 1-bit field.  The semantics of this bit are undefined,
      and the bit MUST remain unset (0x0) when sending and MUST be
      ignored when receiving.
```